body{
  background: url('../img/board-brown.jpg') no-repeat 50% 50%;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh; /* Fallback */
  font-family: Roboto;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

section{

}

.keyboard-base {
  max-width: 1085px;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(197, 197, 197);
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(30, 30px);
  grid-template-rows: repeat(5, 60px);
  grid-gap: 5px;
  box-shadow: var(--shadow2-);
}

.key {
  background-color: rgb(243, 243, 243);
  border: 2px solid var(--gr2-);
  border-radius: 5px;
  grid-column: span 2;
  font-size: 20px;
  text-align: center;
  padding-top: 17px;
  cursor: pointer;
  box-shadow: var(--shadow3-);
}

.key:hover {
  border: 1px solid var(--dw-);
}
.delete {grid-column: span 4;}
.tab {grid-column: span 3;}
.backslash {grid-column: span 3;}
.capslock {grid-column: span 4;}
.return {grid-column: span 4;}
.leftshift {grid-column: span 5;}
.rightshift {grid-column: span 5;}
.leftctrl {grid-column: span 3;}
.command {grid-column: span 3;}
.space {grid-column: span 13;}

.cable{
  text-align: center;
  margin-top: -10px;
}







/* END */
